@CHARSET "UTF-8";

button {
	width: 100%;
}

#name {
	display: none;
	text-align: center;
	font-size: 1.5em;
	padding: 10px 10px 10px 10px;
}

#panel {
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #dddddd;
}

#total {
	font-size: 0.8em;
}

#amount {
	font-size: 2em;
	text-align: right;
}

#recent {
	background-color: #aaaaaa;
	padding: 10px 10px 10px 10px;
	margin: 5px 0px 5px 0px;
	vertical-align: middle;
	font-size: 0.8em;
}

.table {
	display: table;
}

.row {
	display: table-row;
}

.cell {
	display: table-cell;
	padding:3px;
}

.caption {
	display: table-caption;
	padding:3px;
}

.smallbutton {
	width: 33%;
}

#number {
	width: 75%;
	float: left;
}

#symbol {
	width: 25%;
	float: right;
}
