@CHARSET "UTF-8";

#spacer {
	height: 50px;
}

#fixed {
	position: fixed;
	bottom: 0;
	z-index: 1;
	width: 100%;
	background-color: #cccccc;
}

#fixed table {
	width: 100%;
}

button {
	width: 100%;
}

#name {
	text-align: center;
	font-size: 1.5em;
	padding: 10px 10px 10px 10px;
}

#amount {
	text-align: right;
	font-size: 2em;
}