
/* custom jQuery mobile component style*/
.ui-li-aside {
	float: right;
	width: 25%;
	text-align: right;
	margin: .3em 0;
}

/* */
.clear-both {
	clear: both;
}

.row {
	width: 100%;
}

.column-left {
	display: inline;
	width: 75%;
	float: left;
	word-break: hyphenate;
	word-wrap: break-word;
	break-all;
}

.column-right {
	display: inline;
	width: 25%;
	float: right;
	text-align: center;
	word-break: hyphenate;
	word-wrap: break-word;
	break-all;
}

/* Exchange Page */
#exchange .inline {
	display: inline;
}

#exchange_amount {
	display: inline;
	width: 80px;
}

#exchange_amount2 {
	display: inline;
	width: 80px;
}

#exchange_points {
	display: inline;
	width: 60px;
}

/* New Promotion Page */
#new_promotion .inline {
	display: inline;
}

#new_promotion_points {
	display: inline;
	width: 60px;
}

#new_promotion_amount {
	display: inline;
	width: 80px;
}

#new_promotion_start_date {
	display: inline;
	width: 100px;
}

#new_promotion_end_date {
	display: inline;
	width: 100px;
}